.container-login {
  display: flex;
  flex-direction: column;
  margin: auto; 
  width: 600px;
  margin-top: 50px;
  background: #65858a;
  padding-bottom: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: white;
  font-size: 48px;
  font-weight: 700;
}

/* .underline {
  width: 61px;
  height: 6px;
  background: #4a7a82;
  border-radius: 9px; 
}*/

.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 50px;
  background: #eaeaea;
  border-radius: 6px;
}

.input img {
  margin: 0px 30px;
}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.forgot-password {
  padding-left: 62px;
  margin-top: 27px;
  color: #050505;
  font-size: 18px;
}

.forgot-password span {
  color: #4c00b4;
  cursor: pointer;
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: black;
  background: #68adb7;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.gray{
background:#EAEAEA;
color: #676767;
}

/* home page*/
.home-container{
  margin-top: 20px;
}

.welcome-session{
  text-align: center;
  margin-bottom: 40px;
}

.welcome-session h1{
  font-size: 2.5em;
  margin-bottom: 10px;
}

.welcome-session p{
  font-size: 1.2em;
  margin-bottom: 20px;
}

.buttons button{
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1em;
}

.feature{
  text-align: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}

.features-section{
  margin-bottom: 40px;
}
.features-section h2{
  text-align: center;
  margin-bottom: 20px;
}

